.idea/
.ipynb_checkpoints/
__pycache__/
datasets/datasets/mnist/MNIST/raw/t10k-images-idx3-ubyte
datasets/datasets/mnist/MNIST/
datasets/mnist/
logs/
save/
*.png
datasets/datasets/
datasets/cifar100/
datasets/cifar10/
datasets/cifar-10-batches-py/
*.pt
*.zip
*.torch
datasets/CUB200/
datasets/Imagenetr/
datasets/cub/*
.vscode/*
*.uuid
*.gz
*.tar
*.tar.gz
*.pth
